<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm samuraimart-header-container">
    <%= image_tag "/logo.jpg" %>
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control samuraimart-header-search-input">
      </div>
      <div class="input-group">
        <button type="submit" class="btn samuraimart-header-search-button"><i class="fas fa-search samuraimart-header-search-icon"></i></button>
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Right Side Of Navbar -->
      <ul class="navbar-nav ml-auto mr-5 mt-2">
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <% if user_signed_in? %>
        <li class="nav-item mr-5">
          <%= link_to mypage_favorite_users_path, class: "nav-link" do %>
            <i class="far fa-heart">お気に入りにしたproduct</i>
          <% end %>
        </li>
       <li class="nav-item mr-5">
         <%= link_to cart_users_path, class: "nav-link" do %>
           <i class="fas fa-shopping-cart">カート</i>
         <% end %>
       </li>
       <li class="nav-item mr-5">
         <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, class: "nav-link" do %>
           <label>ログアウト</label>
         <% end %>
       </li>
       <li class="nav-item mr-5">
         <%= link_to products_path, class: "nav-link" do %>
           <label>product一覧</label>
         <% end %>
       </li>
       <li class="nav-item mr-5">
         <%= link_to webs_index_path, class: "nav-link" do %>
           <label>WEB</label>
         <% end %>
       </li>
      <% else %>
        <li class="nav-item mr-5">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <label>新規登録</label>
          <% end %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to login_path, class: "nav-link" do %>
            <label>ログイン</label>
          <% end %>
        </li>
        <hr>
      <% end %>
    </div>
  </nav>
</header>